<div>
    <form id="login" action="/login" method="post">
        <label>Username:</label>
        <input type="text" name="username"  placeholder="Username">
        <label>Password:</label>
        <input type="password" name="password"  placeholder="Password">
        <button  type="submit">Submit</button>
    </form>
    {{#if logOutFlag}}
    <p>Log out successfully</p>
    {{/if}}
    {{#if error}}
    {{else}}
    <p>{{message}}</p>
    {{/if}}
</div>