<h1>Reset Password</h1>

<form id="restForm">
  <div class="form-group" class="row">
    <label for="email">Please input your email</label>
    <input type="email" maxlength="60" name="email" class="form-control" id="email" aria-describedby="userNameHelp"
      placeholder="Email">
    <p id="emailStatus"></p>
  </div>
  <ul class="text-danger row" id="error">error</ul>
  <div class="progress row" id="progressBar">
    <div class="progress-bar"> </div>
  </div>
  <br>
  <h4 class="text-success text-center row" id="resetSuccess"></h4>
  <div class="text-center row">
    <button type="button" class="btn btn-primary" id="resetButton" disabled="true">Reset</button>
  </div>
</form>
<script src="/public/js/reset.js"></script>