<a href = "http://localhost:3000/login">Sign in here!</a>
<a href = "http://localhost:3000/regisiter">Regisite here!</a>
<button id="logOutButton" hidden>Log out here!</button>
<div>
    <form id ="Myform">
    <label>
        Search
        <input type="text" name="search"  placeholder="Search" id="text_input">
        <button type="submit">Search for that</button>
    </label>
    </form>
</div>

<ul id="searchResult" hidden></ul>

<ol id="popularQuestion" hidden></ol>