<a href = "http://localhost:3000/login">Sign in here!</a>
<a href = "http://localhost:3000/regisiter">Regisite here!</a>
<a id="logOutButton" href = "http://localhost:3000/logout">Log out here!</a>
<div>
    <form id ="Myform">
    <label>
        Search
        <input type="text" name="search"  placeholder="Search" id="text_input">
        <button type="submit">Search for that</button>
    </label>
    </form>
</div>
<div>
<ul id="searchResult" hidden></ul>
</div>

<div>
<ol id="popularQuestion" hidden></ol>
</div>

<div>
    <form id ="myNewForm" hidden>
    <label>
        Search
        <input type="text" name="Newsearch2"  placeholder="Search" id="text_input2">
        <button type="submit2">Search for that</button>
    </label>
    </form>
</div>

<div>
<ul id="newSearchResult" hidden></ul>
</div>

<div>
<ol id="newPopularQuestion" hidden></ol>
</div>

<div>
    <form id ="myHotForm" hidden>
    <label>
        Search
        <input type="text" name="search3"  placeholder="Search" id="text_input3">
        <button type="submit3">Search for that</button>
    </label>
    </form>
</div>

<div>
<ul id="hotSearchResult" hidden></ul>
</div>

<div>
<ol id="hotPopularQuestion" hidden></ol>
</div>