<button id="timeButton" type="click" hidden>Sort by time</button>
<button id="popularButton" type="click" hidden>Sort by Popularity</button>

<form id ="Myform">
    <label>
        Search
        <input type="text" name="search"  placeholder="Search" id="text_input">
        <button type="submit">Search for that</button>
    </label>
</form>
<div>
    <ul id="searchResult" hidden></ul>
    <ol id="popularQuestion" hidden></ol>
</div>

<div id="newList">

</div>

<div id="popularList">

<ul id="hotSearchResult" hidden></ul>
</div>

<div>
<ol id="hotPopularQuestion" hidden></ol>
</div>