<div id='view-question-div'>
    <p> You have submit your question successfully!</p>
    <a href="/:{{questionID}}">View Your Question</a>
</div>

<div id="logout-div">
    <a href='/logout'>Log out</a>
</div>
