<div id='view-question-div'>
    <p> You have submitted your question successfully!</p>
    <a href="/questions/{{questionID}}">View Your Question</a>
</div>

<div id="logout-div">
    <a href='/logout'>Log out</a>
</div>
