<div id ="ask-success">
<div id='view-question-div'>
    <p> You have submitted your question successfully!</p>
    <a id="view-exist-ques-a" href="/question/{{questionId}}"><button class="ask-view-ques">View The Question</button> </a>
</div>

</div>
<link rel="stylesheet" href="/public/css/ask.css">
